<form action="/business/new" method="POST">
    <input type="text" name="name" placeholder="Enter Business Name"><br>
    <input type="text" name="address" placeholder="Enter Address"><br>
    <input type="text" name="image_url" placeholder="Enter image logo url"><br>
    <input type="text" name="phone_number" placeholder="Enter phone_number"><br>
    Enter Category
    <select name="category">
        <% categories.forEach(function(category){ %>
            <option value="<%= category._id %>"><%= category.name%></option>
        <% }) %>
    </select><br>
    Enter Sub Category
    <select name="sub_category">
        <% subCategories.forEach(function(subCategory){ %>
            <option value="<%= subCategory._id %>"><%= subCategory.name%></option>
        <% }) %>
    </select><br>
    <button type="submit">Submit</button>
</form>