<form action="/business/new/images/<%=business_id%>" method="POST">
    <input type="text" name="image_url[1]" placeholder="Enter image url"><br>
    <input type="text" name="image_url[2]" placeholder="Enter image url"><br>
    <input type="text" name="image_url[3]" placeholder="Enter image url"><br>
    <button type="submit">Submit</button>
</form>