<form action="/loginUser" method="POST">
    <input type="email" name="email_id" placeholder="Enter Email Id"><br>
    <input type="password" name="password" placeholder="Enter Password"><br>
    <a href="/register">Register</a><br>
    <button type="submit">Login</button> 
</form>