<form action="/registerUser" method="POST">
    <input type="text" name="first_name" placeholder="Enter First Name"><br>
    <input type="text" name="last_name" placeholder="Enter Last Name"><br>
    <input type="email" name="email_id" placeholder="Enter Email Id"><br>
    <input type="password" name="password" placeholder="Enter Password"><br>
    <button type="submit">Register</button> 
</form>